<h2><%= current_user.membership.organisation.name %></h2>
<h3>Shifts</h3>

<%= form_with(model: @shift) do |form| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% @shift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Employee name</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Break length (minutes)</th>
        <th>Hours worked</th>
        <th>Shift cost</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @shifts.each do |shift| %>
        <% if shift.user.membership.organisation_id == current_user.membership.organisation_id %>
        <tr>
          <td><%= shift.employee_name %></td>
          <td><%= shift.start_date %></td>
          <td><%= shift.start_time %></td>
          <td><%= shift.finish_time %></td>
          <td><%= shift.break_length %></td>
          <td><%= shift.hours_worked %></td>
          <td>$<%= shift.cost %></td>
          <td><% if shift.user == current_user %>
            <%= link_to 'Edit', edit_shift_path(shift) %>
            <%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>

    <tfoot>
        <td><%= current_user.name %></td>

        <td><div class="field">
          <%= form.date_select :date, use_two_digit_numbers: true, order: [:day, :month, :year] %>
        </div></td>

        <td><div class="field">
          <%= form.time_select :start, :ignore_date => true, minute_step: 15 %>
        </div></td>

        <td><div class="field">
          <%= form.time_select :finish, :ignore_date => true, minute_step: 15 %>
        </div></td>

        <td><div class="field">
          <%= form.number_field :break_length, :value => 0 %>
        </div></td>

        <td colspan="3"><div class="actions">
          <%= form.submit %>
        </div></td>
    </tfoot>
  </table>
<% end %>

<br>
