<h2><%= current_user.membership.organisation.name %></h2>
<h3>Shifts</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Break length (minutes)</th>
      <th></th>
      <%# <th colspan="3"></th> %>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.user_id %></td>
        <td><%= shift.start %></td>
        <td><%= shift.finish %></td>
        <td><%= shift.break_length %></td>
        <th></th>
      </tr>
    <% end %>
  </tbody>

    <%= render 'shared/new_shift_form', shift: @shift %>
</table>

<br>

<%= link_to 'New Shift', new_shift_path %>
